@import url(https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap);/* You can add global styles to this file, and also import other style files */
.sidebar-options {
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 20px; }
  .sidebar-options__input {
    border: 1px solid #e3e8fb;
    max-width: 341px;
    width: 100%;
    height: 54px;
    padding-left: 47px;
    background-color: #f3f5fa;
    background-image: url("http://www.clker.com/cliparts/b/Y/9/V/W/6/google-map-pointer-grey-hi.png");
    background-repeat: no-repeat;
    background-size: 14px 18px;
    background-position: 18px;
    color: #15245a;
    font-size: 18px; }
    .sidebar-options__input:focus {
      outline: none; }
    .sidebar-options__input::placeholder {
      color: #15245a;
      font-size: 18px; }
  .sidebar-options .checkboxes .checkbox {
    display: flex;
    align-items: center; }
    .sidebar-options .checkboxes .checkbox input {
      display: none; }
      .sidebar-options .checkboxes .checkbox input:checked + label:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url(../assets/img/marker.svg);
        background-repeat: no-repeat; }
    .sidebar-options .checkboxes .checkbox label {
      position: relative;
      cursor: pointer; }
      .sidebar-options .checkboxes .checkbox label::before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid #368952;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px; }

html,
body {
  height: 100%;
  font-family: Segoe UI; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
input {
  margin: 0;
  font-family: 'Martel Sans', sans-serif; }

ul[class],
ol[class] {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }
