<aside class="sidebar">
    <div class="wrapper-column">
        <div class="logo sidebar__logo">
            <a href="/"><img src="../assets/img/logo-light.svg" alt="myFixer logo" /></a>
        </div>
        <nav class="sidebar-menu">
            <div class="sidebar-menu__item sidebar-menu__item_active">
                <a href="search-1.html"><img src="../assets/img/sidebar/loupe.svg" alt="search" /></a>
            </div>
            <div class="sidebar-menu__item">
                <a href="/profile-1.html"><img src="../assets/img/sidebar/bust.svg" alt="profile" /></a>
            </div>
            <div class="sidebar-menu__item">
                <a href="#"><img src="../assets/img/sidebar/messages.svg" alt="messages" /></a>
            </div>
            <div class="sidebar-menu__item">
                <a href="#"><img src="../assets/img/sidebar/calendar.svg" alt="calendar" /></a>
            </div>
        </nav>
    </div>
</aside>